<bl-frame title="Roles" [isCreateView]="formView"   (closeView)="resetForm()"
>

  <!-- Grid View Content -->
  <div gridViewContent>
    <lib-basic-report-lib [data]="tableData" [columns]="columns" [title]="'Role Report'"
      [placeholderText]="'Count'" [showActions]="true" [actionButtons]="actionButtons" [tableHeight]="'400px'"
      [enableExcelExport]="true" [pagination]="true"
      [filterColumns]="['department', 'location','id','salary','name','joiningDate','experience']" [itemsPerPage]="10"
      [filterSection]="true" [isSearchEnabled]="true" [themeColor]="'gray'"
      (actionClick)="handleAction($event)"></lib-basic-report-lib>
  </div>

  <!-- Create View Content -->
  <div createViewContent>
    <lib-dynamic-form [inputConfig]="inputFields" [formData]="selectedItem" [isEditMode]="isEditMode" (submitForm)="handleSubmit($event)"
    >
    </lib-dynamic-form>

  </div>

</bl-frame>3